a.button--outline {
    text-decoration: none;
}

div[data-ba-course-id] a.button--outline {
    margin: 0 0 25px 25px;
}

.large-side-bar .courses-folder-sidebar--questionBanks_off, .large-side-bar .courses-folder-sidebar {
    width: 50rem !important;
}

.large-side-bar  .courses-list .courses-layout-wrapper {
    left: 50rem !important;
}
